/* Importing Google Font "Inter" */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Applying universal styles to all elements */
* {
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Defining the body layout */
body {
    height: 100vh;
    display: grid;
    grid-template-columns: calc(12vw + 30px) 1fr;
    grid-template-areas: "side main";
}

/* Styling the sidebar */
.sidebar {
    background-color: #0077b6;
    font-size: 1vw;
}

/* Styling the unordered list in the sidebar */
.sidebar ul {
    list-style-type: none;
    display: block;
}

/* Styling the list items in the sidebar */
.sidebar li {
    margin-bottom: 2vh;
    align-items: center;
    border-radius: 0.5rem;
}

/* Adding hover effect on list items */
.sidebar li :hover {
    color: #10123e;
    background-color: #fbfefe;
    border-radius: 0.5rem;
}

/* Styling the navigation section in the sidebar */
.sidebar .nav-section {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: flex-end;
    padding: 1rem;
}

/* Styling the links in the sidebar */
.sidebar .sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fbfefe;
    padding: 0.75rem 0.5rem;
}

/* Styling the user section in the sidebar */
.user {
    display: flex;
    color: #fbfefe;
    align-items: center;
    background-color: #005989;
    padding: 20px;
    flex-direction: row-reverse;
    cursor: pointer;
}

/* Styling the user details in the sidebar */
.user .user-details {
    margin: 0px 10px;
    width: 80%;
}

/* Styling the user role text */
.user-details .user-role {
    font-size: 0.8vw;
}

/* Styling the user logout section */
.user-logout {
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
}

/* Styling the Material Symbols */
.material-symbols-outlined {
    margin-right: 1rem;
    font-size: 1vw;
}

/* Styling the main content area */
.main-content {
    background-color: #e6f1f8;
    font-size: 2vw;
    padding: 20px;
}
